<!DOCTYPE html>
<html>

<head>
    <title>Restoran Apps</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/assets/styles/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
    </style>

</head>

<body>
    <header>
        <div class="container">
            <h1><a href="">PINARPRAJA.</a></h1>
            <div class="navbar">
                <div class="dropdown">
                    <button class="dropbtn">Contact
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Email</a>
                        <a href="#">WhatsApp</a>
                        <a href="#">Instagram</a>
                        <a href="#">linkedln</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">My Blog
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Book Reviews</a>
                        <a href="#">Graphic</a>
                        <a href="#">Video Content</a>
                        <a href="#">Webdesign</a>
                    </div>
                </div>
                <a href="#about">About</a>
                <a href="#home">Home</a>
            </div>
        </div>
    </header>

    <main>
        <div id="content">
            <!--banner-->
            <section class="banner">
                <h2>HI, EVERYONE.<br>
                    WELCOME TO MY BLOG.
                </h2>
            </section>
    </main>
    <footer>
        <p>© 2022 by Zulfa Khoirun Nisa, PINARPRAJA</p>
    </footer>

</body>>

</html>