* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

.container {
    width: 80%;
    margin: 0 auto; 
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

header h1 a {
    float: left;
    padding: 10px;
    text-decoration: none;
    color: #BDBDBD;
}

.navbar a {
    float: right;
    padding: 20px 20px;
    text-decoration: none;
    color: #BDBDBD;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #BDBDBD;
    padding: 20px 20px;
    background-color: inherit;
    font-family: inherit;
  }

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(248, 240, 240);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #BDBDBD;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: inherit;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.banner {
    height: 80vh;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(246, 242, 242, .2) ;
}

.banner h2 {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 60px;
    font-weight: 800;
    color: white;
}

section {
    width: 100%;
    min-height: 200px;
}

.about {
    height: 80vh;
    min-height: 200px;
    background-size: cover;
    background-color: beige;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .row .col {
    min-height: 200px;
    float: left;
    max-width:  50%;
    margin: 5px auto;
}

.about .image-gallery {
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    width: 440px;
    padding: 10px;
    margin: 10px 40px;
}

.image-gallery img {
    float: right;
    height: 200px;
    width: 200px;
    margin: 4px 4px;
    padding-left: 5px;
    padding-right: 5px;
    flex-direction: row;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.image-gallery img:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.col h3 {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #BDBDBD;
    margin: 60px 20px 10px 110px;
    padding: 10px 10px;
}

.col p {
    font-family: 'Karla', sans-serif;
    margin: 20px 20px 20px 110px;
    padding: 10px;
}

.col a {
    font-family: Helvetica;
    text-decoration: none;   
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: #BDBDBD;
    background-color: #BDBDBD;
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 2px;
    margin-right: 10px;
    padding: 10px 15px 10px 15px;
}

.col a:hover {
    font-weight: bold;
    color: black;
}

.blog {
    min-height: 200px;
    height: 100vh;
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
}

.title h3 {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 4px;
    text-align: center;
    padding-left: 0;
    padding-bottom: 5px;
    padding-right: 0;
    padding-top: 40px;
    color: #BDBDBD;
}

.title p {
    font-family: Helvetica;
    letter-spacing: 6px;
    text-align: center;
    color: black;
    margin-bottom: 10px;
    padding: 10px 15px;
}

article ul {
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    word-spacing: 1.6em;
}

article ul li {
    display: inline-block;
}

article ul li a {
    font-family: 'Karla', sans-serif;
    padding: 20px 20px;
    display: inline-block;
    text-decoration: none;
}

article ul li a:hover {
    font-weight: bold;
    color: black;
}

.blog {
    background-color: #FDFDFD;
    height: 80vh;
}

.box {
    color: #FDFDFD;
    display: flex;
    margin: 30px 20px;
}

.box .col-4 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.icon {
    width: 70px;
    height: 70px;
    border: 2px dashed;
    color: gray;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    margin: 30px auto;
}

.box .col-4 h4 a {
    font-family: sans-serif;
    text-decoration: none;
    letter-spacing: 4px;
    margin: 40px 0;
    color: #F3D46D;

}

.box .col-4 h4 a:hover {
    font-weight: bold;
    color: black;
    
}

.box .col-4 p {
    font-family: 'Karla', sans-serif;
    letter-spacing: normal;
    color: gray;
}

aside {
    min-height: 200px;
    height: 70vh;
    background-color: #BDBDBD;
}

aside img {
    display: flex;
    float: right;
    margin: 15px 25px;
    max-width: 330px;
    background-color: #BDBDBD;
    flex-direction: row;
    transform: scale(0.75);
    transition: all 0.4s ease;
    
}

aside img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


aside h2 {
    display: flex;
    float: left;
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
    padding: 40px;
}

figcaption {
    display: flex;
    float: left;
    font-family: 'Karla', sans-serif;
    margin: 20px 20px 20px 110px;
    padding: 10px;
}

aside p {
    display: flexbox;
    float: left;
    font-family: 'Karla', sans-serif;
    margin: 20px 20px 20px 110px;
    padding: 10px;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
    header h1{
        text-align: center;
        float: none;
    }
    header ul {
        text-align: center;
        float: none;
        padding: 20px 20px;
    }
    article,
    aside,
    footer {
        text-align: center;
        float: none;
        padding: 20px 20px; 
    }

}

footer {
    padding: 30px;
    color: gray;
    background-color: beige;
    font-weight: bold;
}

footer p {
    padding-top: 20px;
    text-align: center;
}